{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>POMAC | Hearing</title>
    <style type="text/css">
        body {
            font-weight: 200;
            font-size: 14px;
        }

        .header {
            padding-top: 500px;
            font-size: 20px;
            font-weight: 100;
            text-align: center;
            color: #0f0f0f;
        }

        .title {
            font-size: 22px;
            font-weight: 100;
            /* text-align: right;*/
            padding: 10px 2px 0px 20px;
        }

        .title span {
            color: #007cae;
        }

        .details {
            padding: 10px 20px 0px 20px;
            text-align: left !important;
            margin-left: 50px;
        }

        .hrItem {
            border: none;
            height: 1px;
            /* Set the hr color */
            color: #333; /* old IE */
            background-color: #fff; /* Modern Browsers */
        }

        table, th, td {
            border: 1px solid black;
        }

        table {
            border-collapse: collapse;
        }

    </style>
</head>
<body>
<div class='wrapper' style="padding: 20px;">
    <div class='header'>
        <p class='title'>HEARING SUMMARY (S.22) <br/>The Power of Mercy Advisory Committee</p>
    </div>
    <hr class='hrItem' size="2.5"/>
    <div>
        <div style="text-align: center">
            <h2>
                IN THE MATTER OF <br>
                PETITION FOR THE EXERCISE OF THE POWER OF MERCY
            </h2>
        </div>
        <div style="font-size: 16px; text-align: justify">
            PETITIONER: <strong>{{ name }} <i>(Name of Prisoner/Petitioner)</i></strong><br/><br/>
            Prison Number: <strong>{{ prisonno }}</strong>............Prison:<strong>{{ prison }}</strong><br/><br/>
            Name: <strong>{{ name }}</strong><br/><br/>
            Current Age: <strong>{{ currentage }} YEARS</strong><br/><br/>
            Offence(s): <strong>{{ offence }}</strong><br/><br/>
            Date of Sentence:
            <strong>{{ dateofconviction }}</strong>.........................Sentence:<strong>{{ sentence }}</strong><br/><br/>
            Court where convicted: <strong>{{ court }}</strong>.....Court Case No:
            <strong>{{ courtno }}</strong><br/><br/>

            Appeal No <i>(if any)</i>: <strong>{{ appealcaseno }}</strong>.....................Outcome of Appeal:
            <strong>{{ appealoutcome }}</strong><br><br>
            E.P.D: <strong>Not working</strong>.........................................L.P.D:
            <strong>Not Working</strong><br/><br/>
            No of Previous Convictions: <strong>{{ previousconvictions }}</strong><br/><br/>
            Prison Offences (if any): <strong>{{ explanationofdisciplinaryaction }}</strong><br/><br/>
            Where the offense was committed: <strong>{{ offensecommitted }}</strong><br/><br/>
            Date of Custody: <strong>{{ dateofcustody }}</strong>..................................Years Served:
            <strong>{{ yearsserved }} YEARS</strong><br/><br/>
            Health Status: <strong>{{ healthstatus }}</strong><br/><br/>
            Family Status: <strong>{{ familystatus }}</strong><br/><br/>
        </div>
        <div style="font-size: 16px; text-align: justify">
            <div>
                <strong>Committee's remarks taking into account the criteria prescribed by the Power of Mercy Act
                    S.22</strong><br><br>
                (a) The age of the convicted criminal prisoner at the time of the commission of the offence:
                <strong>{{ ageoffense }} YEARS</strong><br><br>
                (b) The circumstances surrounding the commission of the offence:
                <strong>{{ natureofoffense }}</strong><br><br>
                (c) Whether the person, for whose benefit the petition is made, is a first offender:
                <strong>{{ chargedalone }}</strong><br><br>
                (d) The nature and seriousness of the offence: <strong>{{ seriousnessofoffence }}</strong><br><br>
                (e) The length of period so far served by the convicted criminal prisoner: <strong>{{ yearsserved }}
                YEARS</strong><br><br>
                (f) The length of period served by the convicted criminal prisoner in remard:
                <strong>{{ yearsinremand }} YEARS</strong><br><br>
                (g) The personal circumstances of the offender at the time of making the petition, including mental and
                physical health and any disabilities: <strong>{{ personalcircumstances }}</strong><br><br>
                (h) The interest of State and community: <strong>{{ interestofstate }}</strong><br><br>
                (i) The post-conviction conduct, character and reputation of the convicted criminal prisoner:
                <strong>{{ postconvictionconduct }}</strong><br><br>
                (j) The official recommendations and reports from the State organ or department responsible for
                correctional services: <strong>{{ officialrecommendations }}</strong><br><br>
                (k) Where the petitioner has opted to pursue other available remedies, the outcome of such avenue:
                <strong>{{ otheravailableremedies }}</strong><br><br>
                (l) The representation of the victim where applicable:
                <strong>{{ represenationofvictim }}</strong><br><br>
                (m) Where applicable, a report of fellow inmates: <strong>{{ reportoffellowinmates }}</strong><br><br>
                (n) Reports from probation services: <strong>{{ reportsfromprobationservices }}</strong><br><br>


                <div style="text-align: center; font-size: 18px"><strong>Observation from Hearing with main reasons</strong></div>
                <div style="text-align: justify"><strong>{{ observationswithmainreasons }}</strong></div>
            </div>
            <div>
                <div style="text-align: center; font-size: 18px;"><strong>Members present at the hearing</strong></div>
                1.{{ space }} ...<strong>{{ member1 }}</strong>..................................................... Sign...............................................<br><br>
                2.{{ space }} ...<strong>{{ member2 }}</strong>..................................................... Sign...............................................<br><br>
                3.{{ space }} ...<strong>{{ member3 }}</strong>..................................................... Sign...............................................<br><br>
                4.{{ space }} ...<strong>{{ member4 }}</strong>..................................................... Sign...............................................<br><br>
                5.{{ space }} ...<strong>{{ member5 }}</strong>..................................................... Sign...............................................<br><br>
                6.{{ space }} ...<strong>{{ member6 }}</strong>..................................................... Sign...............................................<br><br>
                7.{{ space }} ...<strong>{{ member7 }}</strong>..................................................... Sign...............................................<br><br>
                8.{{ space }} ...<strong>{{ member8 }}</strong>..................................................... Sign...............................................<br><br>
                9.{{ space }} ...<strong>{{ member9 }}</strong>..................................................... Sign...............................................<br><br>
                10.{{ space }}..<strong>{{ member10 }}</strong>....................................................Sign...............................................

            </div>
            <div style="font-size: 16px; margin-top: 50px">
                <strong>Signed</strong><br><br>
                <strong>Chairperson of the Petition Sub-Comittee</strong><br><br>
                <strong>Dated this.................</strong><span
                    style="font-size: 22px;"><i>{{ day }}</i></span><strong>........Day of................</strong><span
                    style="font-size: 22px;"><i>{{ month }}</i></span><strong>.........................<span
                    style="font-size: 24px;">/</span></strong><span style="font-size: 22px;"><i>{{ year }}</i></span>..................<br/><br/>
            </div>
        </div>
    </div>
</div>
</body>
</html>