{% extends "app/base_site.html" %}
{% load static %}
{% load mathfilters %}
{% load crispy_forms_tags %}
{% block title %} Hearing {% endblock title %}
{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Hearings List
                                <small>| List of all Hearings</small>
                            </h2>
                             <ul class="nav navbar-right panel_toolbox">
                               <li><a class="btn btn-sm btn-primary" href="{% url 'hearingsummary_create' %}">Add Hearing</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <p class="text-muted font-13 m-b-30">
                                This table shows all the hearing summary for petitions submitted from
                                across all the prisons. You can search using any
                                criteria
                            </p>
                            <table id="allmytables" class="table table-striped table-bordered dt-responsive " style="width:100%">
                                <thead style="width:100%">
                                <tr>
                                    <td>S/No</td>
                                    <td>Name</td>
                                    <td>Prison No</td>
                                    <td>Prison</td>
                                    <td>Nationality</td>
                                    <td>Court Case No</td>
                                    <td>Conviction Age</td>
                                    <td>Current Age</td>
                                    <td>Period Spent in Custody</td>
                                    <td>Sentence</td>
                                    <td>Offense Age</td>
                                    <td>Next of Kin</td>
                                    <td>Next of Kin Relationship</td>
                                    <td>Contact Person</td>
                                    <td>Contact Person Tel</td>
                                    <td>County</td>
                                    <td>Sub County</td>
                                    <td>Home Location</td>
                                    <td>Nearest School</td>
                                    <td>Home Chief</td>
                                    <td>location of Offense</td>
                                    <td>Date of Conviction</td>
                                    <td>Date of Custody</td>
                                    <td>Relief Sought</td>
                                    <td>Offence</td>
                                    <td>Particulars of Offense</td>
                                    <td>Charged Alone for the Offence</td>
                                    <td>Names of CO-Accussed</td>
                                    <td>Knowledge of the Victim</td>
                                    <td>Name of the Victim</td>
                                    <td>Vitims Residence</td>
                                    <td>Previous Convictions</td>
                                    <td>Previous Petition</td>
                                    <td>Date of Previous Petition</td>
                                    <td>Reason for Denial of Petition</td>
                                    <td>Reasons for Current Petition</td>
                                    <td>Disciplinary action in prison</td>
                                    <td>Details of Disciplinary Action</td>
                                    <td>Special Condition</td>
                                    <td>Details of Special Condition</td>
                                    <td>Trustee</td>
                                    <td>Date of Promotion to Trustee</td>
                                    <td>Skills</td>
                                    <td>Skills Details</td>
                                    <td>Appealed</td>
                                  <td>Appeal Case No</td>
                                    <td>Appeal Outcome</td>
                                    <td>Pending Court Matter</td>
                                 <td>Pending Court Matter Explanation</td>
                                 <td>Petition added By</td>
                                 <td>Petition Added On</td>
                                      <td>Hearing Status</td>
                                     <td>Hearing Status Description</td>
                                    <td>Nature and Seriousness of the Offense</td>
                                    <td>Personal circumstances of the offender at the time of making the Petition</td>
                                    <td>The interest of the State and community</td>
                                    <td>The post conviction conduct, character and reputation of the convicted criminal prisoner</td>
                                    <td>The official recommendations and reports from the State organ or department responsible for correctional services</td>
                                    <td>Where the petitioner has opted to pursue other remedies, the outcome of such avenue</td>
                                    <td>The representation of the victim where applicable</td>
                                    <td>Where applicable, a report of fellow inmates</td>
                                    <td>Reports from probation services</td>
                                    <td>Observations from hearing with main reasons</td>
                                    <td>Set Interview Date</td>
                                    <td>Set Review Date</td>
                                    <td>Members Present at the Hearing</td>
                                    <td>Hearing Summary Added On</td>
                                    <td>Hearing Summary last Updated By</td>
                                    <td>Hearing Summary last Updated On</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in object_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>
                                            <a href="{{ object.get_absolute_url }}">{{ object.admissibility.petitioner.name }}</a>
                                        </td>
                                        <td>{{ object.admissibility.petitioner.prisonno }}</td>
                                        <td>{{ object.admissibility.petitioner.prison }}</td>
                                        <td>{{ object.admissibility.petitioner.nationality }}</td>
                                        <td>{{ object.admissibility.petitioner.courtcaseno }}</td>
                                        <td>{{ object.admissibility.petitioner.ageatconviction }} YEARS</td>
                                        <td>{{ today.year|sub:object.admissibility.petitioner.dateofconviction.year|add:object.admissibility.petitioner.ageatconviction }}
                                            YEARS
                                        </td>
                                        <td>{{ today.year|sub:object.admissibility.petitioner.dateofcustody.year }}
                                            YEARS
                                        </td>
                                        {% if object.admissibility.petitioner.convictedforlife == True %}
                                            <td>LIFE IMPRISONMENT</td>
                                        {% else %}
                                            <td>{{ object.admissibility.petitioner.sentence }} YEARS IMPRISONMENT</td>
                                        {% endif %}
                                        <td>{{ object.admissibility.petitioner.agewhenoffensewascommited }}</td>
                                        <td>{{ object.admissibility.petitioner.nextofkin }}</td>
                                        <td>{{ object.admissibility.petitioner.relationshipwithnextofkin }}</td>
                                        <td>{{ object.admissibility.petitioner.contactperson }}</td>
                                        <td>{{ object.admissibility.petitioner.telnoofcontactperson }}</td>
                                        <td>{{ object.admissibility.petitioner.county }}</td>
                                        <td>{{ object.admissibility.petitioner.subcounty }}</td>
                                        <td>{{ object.admissibility.petitioner.location }}</td>
                                        <td>{{ object.admissibility.petitioner.nearestschool }}</td>
                                        <td>{{ object.admissibility.petitioner.homechief }}</td>
                                        <td>{{ object.admissibility.petitioner.whereoffensewascommitted }}</td>
                                        <td>{{ object.admissibility.petitioner.dateofconviction }}</td>
                                        <td>{{ object.admissibility.petitioner.dateofcustody }}</td>
                                        <td>{{ object.admissibility.petitioner.reliefsought }}</td>
                                        <td>{{ object.admissibility.petitioner.offence }}</td>
                                        <td>{{ object.admissibility.petitioner.natureandparticularsofoffense }}</td>
                                        {% if object.admissibility.petitioner.chargedalonefortheoffense == True %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>{{ object.admissibility.petitioner.namesofcoaccused }}</td>
                                        {% if object.admissibility.petitioner.knowledgeofthevictim == True %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>{{ object.admissibility.petitioner.nameofvictim }}</td>
                                        <td>{{ object.admissibility.petitioner.areaofresidence }}</td>
                                        <td>{{ object.admissibility.petitioner.previousconvictions }}</td>
                                        {% if object.admissibility.petitioner.previouspetition == True %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>{{ object.admissibility.petitioner.dateofpreviouspetition }}</td>
                                        <td>{{ object.admissibility.petitioner.reasonofdenialofpreviouspetition }}</td>
                                        <td>{{ object.admissibility.petitioner.reasonforcurrentpetition }}</td>
                                        {% if object.admissibility.petitioner.anydisplinaryactioninprison == True %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>{{ object.admissibility.petitioner.detailsofdisplinaryactioninprison }}</td>
                                        {% if object.admissibility.petitioner.anyspecialcondition == True %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>{{ object.admissibility.petitioner.detailsofspecialcondition }}</td>
                                        {% if object.admissibility.petitioner.areyouatrustee == True %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>{{ object.admissibility.petitioner.dateofpromotiontotrustee }}</td>
                                        {% if object.admissibility.petitioner.anyspecialattributesorskills == True %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>{{ object.admissibility.petitioner.explanationofspecialattributesorskills }}</td>
                                        {% if object.admissibility.petitioner.appealedagainsttheconviction == True %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                      <td>{{ object.admissibility.petitioner.appealcaseno }}</td>
                                        <td>{{ object.admissibility.petitioner.appealoutcome }}</td>
                                        {% if object.admissibility.petitioner.anypendingcourtmatter == True %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>{{ object.admissibility.petitioner.explanationofpendingcourtmatter }}</td>
                                        <td>{{ object.admissibility.petitioner.added_by }}</td>
                                        <td>{{ object.admissibility.petitioner.created }}</td>
                                        <td>{{ object.action }}</td>
                                        <td>{{ object.actiondescription }}</td>
                                        <td>{{ object.natureandseriousnessoftheoffense }}</td>
                                        <td>{{ object.personalcircumstances }}</td>
                                        <td>{{ object.interestofstateandcommunity }}</td>
                                        <td>{{ object.postconvictionconduct }}</td>
                                        <td>{{ object.officialrecommendationsandreports }}</td>
                                        <td>{{ object.wherethepetitionerhaspersued }}</td>
                                        <td>{{ object.representationofvictim }}</td>
                                        <td>{{ object.reportoffellowinmates }}</td>
                                        <td>{{ object.reportsfromprobationservices }}</td>
                                        <td>{{ object.observationswithmainreasons }}</td>
                                    <td>{{ object.interviewdate }}</td>
                                        <td>{{ object.reviewdate }}</td>
                                       <td>
                                            {{ object.member1 }},
                                            {{ object.member2 }},
                                            {{ object.member3 }},
                                            {{ object.member4 }},
                                            {{ object.member5 }},
                                            {{ object.member6 }},
                                            {{ object.member7 }},
                                            {{ object.member8 }},
                                            {{ object.member9 }},
                                            {{ object.member10 }}
                                        </td>
                                        <td>{{ object.created }}</td>
                                        <td>{{ object.updated_by }}</td>
                                        <td>{{ object.last_updated }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>
{% endblock javascripts %}
