<div class="left_col scroll-view">
    <img src="/static/images/courtofarms.png" alt="" style="display: block;
    margin-left: auto;
    margin-right: auto; margin-top: 20px" height="60" width="70">
<center><a href="#" class="site_title"><span>POMAC</span></a></center>
    <!-- menu profile quick info -->
    <div class="profile clearfix">
        <div class="profile_pic">
            <img src="/static/images/user1.png" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
            <span>Welcome,</span>
            {% if user.profile.firstname == '' or user.profile.lastname == '' %}
                <p><a class="btn-danger btn-sm" href="{% url 'updateprofile' user.profile.id %}">Update Profile</a></p>
            {% else %}
                <h2>{{ user.profile }}</h2>
            {% endif %}
        </div>
    </div>
    <!-- /menu profile quick info -->

    <br/>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <h3>General</h3>
            <ul class="nav side-menu">
                {#        {%  if perms.petitions.add_county %}#}
                <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{% url 'petitions_dashboard' %}">Dashboard</a></li>
                        <li><a href="{% url 'mypetitions_dashboard' %}">My Dashboard</a></li>
                    </ul>
                </li>
                {#          {% endif %}#}
                <li><a><i class="fa fa-book"></i> Petitions <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{% url 'petitionform_list' %}">Petitions List</a></li>
                        <li><a href="{% url 'petitionform_eligible' %}">Eligible Petitions</a></li>
                        <li><a href="{% url 'petitionform_ineligible' %}">Ineligible Petitions</a></li>
                        <li><a href="{% url 'mypetitionform_list' %}">My Petitions</a></li>
                        <li><a href="{% url 'myeligiblepetitionform_list' %}">My Eligible Petitions</a></li>
                        <li><a href="{% url 'myineligiblepetitionform_list' %}">My InEligible Petitions</a></li>
                        <li><a href="{% url 'petitionform_create' %}">Add a Petition</a></li>
                    </ul>
                </li>

                <li><a><i class="fa fa-tachometer"></i> Admissibilities <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{% url 'admissibilityform_list' %}">Admissabilities List</a></li>
                        <li><a href="{% url 'admissibilityformadmissible_list' %}">Admissible Petitions</a></li>
                        <li><a href="{% url 'admissibilityformaindmissible_list' %}">Inadmissible Petitions</a></li>
                        <li><a href="{% url 'awaitingadmissibility' %}">Awaiting Admissibility</a></li>
                        <li><a href="{% url 'myadmissibilityform_list' %}">My Admissibilities List</a></li>
                        <li><a href="{% url 'myadmissibleadmissibilityform_list' %}">My Admissible Admissibilities</a></li>
                        <li><a href="{% url 'myinadmissibleadmissibilityform_list' %}">My InAdmissible Admissibilities</a></li>
                        <li><a href="{% url 'myawaitingadmissibility' %}">My Awaiting Admissibility</a></li>
                        <li><a href="{% url 'admissibilityform_create' %}">Add Admissibility</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-google-wallet"></i>Summaries <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{% url 'petitionsummary_list' %}">Summaries List</a></li>
                        <li><a href="{% url 'awaitingsummary' %}">Awaiting Summaries</a></li>
                        <li><a href="{% url 'mypetitionsummary_list' %}">My Summaries</a></li>
                        <li><a href="{% url 'myawaitingsummary' %}">My Awaiting Summaries</a></li>
                        <li><a href="{% url 'petitionsummary_create' %}">Add Summary</a></li>
                    </ul>
                </li>

                <li><a><i class="fa fa-clone"></i> Hearings <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{% url 'hearingsummary_list' %}">Hearings List</a></li>
                        <li><a href="{% url 'hearingsummary_deferred' %}">Deferred Petitions</a></li>
                        <li><a href="{% url 'hearingsummary_declined' %}">Declined</a></li>
                        <li><a href="{% url 'hearingsummary_scheduledforinterview' %}">Scheduled for Interview</a></li>
                        <li><a href="{% url 'awaitinghearing' %}">Awaiting Hearing</a></li>
                        <li><a href="{% url 'hearingsummary_awaitingscheduleforinterview' %}">Awaiting Schedule for
                            Interview</a></li>
                        <li><a href="{% url 'myhearingsummary_list' %}">My Hearings</a></li>
                        <li><a href="{% url 'myhearingsummary_awaitingscheduleforinterview' %}">My Schedules for
                            Interview</a></li>
                        <li><a href="{% url 'myhearingsummary_awaitingscheduleforinterview' %}">My Awaiting Schedule for
                            Interview</a></li>
                        <li><a href="{% url 'awaitinghearing' %}">Awaiting Hearing</a></li>
                        <li><a href="{% url 'myhearingsummary_deferred' %}">My Deferred Hearings</a></li>
                        <li><a href="{% url 'myhearingsummary_declined' %}">My Declined Hearings</a></li>
                        <li><a href="{% url 'hearingsummary_create' %}">Add Hearing</a></li>
                    </ul>
                </li>

                <li><a><i class="fa fa-camera"></i>Interviews<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{% url 'interviewsummary_list' %}">Interviews List</a></li>
                        <li><a href="{% url 'awaitinginterviws' %}">Awaiting Interviews</a></li>
                        <li><a href="{% url 'interviewsummary_recommended' %}">Recommended for Recommendation</a></li>
                        <li><a href="{% url 'interviewsummary_notrecommended' %}">Not Recommended for Recommendation</a>
                        </li>
                        <li><a href="{% url 'myinterviewsummary_list' %}">My Interviews List</a></li>
                        <li><a href="{% url 'myawaitinginterviws' %}">My Awaiting Interviews</a></li>
                        <li><a href="{% url 'myinterviewsummary_recommended' %}">My Recommended for Recommendation</a></li>
                        <li><a href="{% url 'myinterviewsummary_notrecommended' %}">My Not Recommended for Recommendation</a></li>
                        <li><a href="{% url 'interviewsummary_create' %}">Add Interview</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-check-circle"></i> Recommendations <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{% url 'recommendationform_list' %}">Recommendations List</a></li>
                        <li><a href="{% url 'awaitingrecommendations' %}">Awaiting Recommendations</a></li>
                        <li><a href="{% url 'myrecommendationform_list' %}">My Recommendations</a></li>
                        <li><a href="{% url 'myawaitingrecommendations' %}">My Awaiting Recommendations</a></li>
                        <li><a href="{% url 'recommendationform_create' %}">Add Recommendation</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-child"></i> Grant of Petition <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{% url 'petitions_grant_list' %}">Grants List</a></li>
                        <li><a href="{% url 'petitions_awaiting_grant_list' %}">Awaiting Grant</a></li>
                        <li><a href="{% url 'petitions_grant_create' %}">Add Grant</a></li>
                    </ul>
                </li>

            <li><a><i class="fa fa-unlock"></i> Prison Exits <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{% url 'petitions_exit_list' %}">Exits List</a></li>
                        <li><a href="{% url 'petitions_exitescape_list' %}">Escapes</a></li>
                        <li><a href="{% url 'petitions_exitdeaths_list' %}">Deaths </a></li>
                        <li><a href="{% url 'petitions_exitservedterm_list' %}">Served Sentence</a></li>
                        <li><a href="{% url 'petitions_exitpomac_list' %}">Released Under POMAC</a></li>
                        <li><a href="{% url 'petitions_exitresentencing_list' %}">Released after resentencing</a></li>
                        <li><a href="{% url 'petitions_exit_create' %}">Add Exit</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <div class="menu_section">
            <h3>Additional Pages</h3>
            <ul class="nav side-menu">
                <li><a><i class="fa fa-bug"></i> More Reports <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{% url 'trustees' %}">Trustees</a></li>
                        <li><a href="{% url 'specialcondition' %}">Petitioners with Special Condition</a></li>
                        <li><a href="{% url 'appealedagainstconviction' %}">Petitioners who appealed against conviction</a></li>
                        <li><a href="{% url 'specialattributesorskills' %}">Petitioners with special skills</a></li>
                        <li><a href="{% url 'petitions_county_list' %}">Counties</a></li>
                        <li><a href="{% url 'petitions_subcounty_list' %}">Sub Counties</a></li>
                        <li><a href="{% url 'petitions_court_list' %}">Courts</a></li>
                        <li><a href="{% url 'petitions_prison_list' %}">Prisons</a></li>
                        <li><a href="{% url 'petitions_offence_list' %}">Offences</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Logout" href="{% url 'account_logout' %}">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
    </div>
    <!-- /menu footer buttons -->
</div>
