<div class="nav_menu">
    <nav>
        <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>
    {% if perms.petitions.can_modifydates_created %}
        <input type="text" value="Date modification Allowed" id="dateModification" hidden>
    {% endif %}
        <ul class="nav navbar-nav navbar-right">
            <li class="">
                {% if user.first_name == '' or user.last_name == '' %}
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                       aria-expanded="false">
                        <img src="/static/images/user1.png" alt=""><span class="text-danger">Update Profile here</span>
                        <span class=" fa fa-angle-down"></span>
                    </a>
                {% else %}
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                       aria-expanded="false">
                        <img src="/static/images/user1.png" alt="">{{ user.first_name }} {{ user.last_name }}
                        <span class=" fa fa-angle-down"></span>
                    </a>
                {% endif %}
                <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="{% url 'updateprofile' user.id %}"> Profile</a></li>
                    <li><a href="{% url 'account_change_password' %}"><i class="fa fa-unlock pull-right"></i> Change Password</a></li>
                    <li><a href="javascript:;">Help</a></li>
                    <li><a href="{% url 'account_logout' %}"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                </ul>
            </li>
        <li class="">
                {% if messages %}

                    {% for msg in messages %}
                        <div class="text-success" id="feedbackmessages">
                            {{ msg.message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </li>


        </ul>
    </nav>
</div>
