{% extends "petitions/interviews/interviewsummary_list.html" %}
{% block interviewtableheader %}
    <h2>Interviews List | Not Recommended for Recommendation
        <small>| List of all Interviews that have not been recommended</small>
    </h2>
{% endblock %}
{% block interviewtabledescription %}
    <p class="text-muted font-13 m-b-30">
        This table shows all the petitioners who have been interviewed
        across all the prisons and have not been recommended for release . You can search using any
        criteria
    </p>
{% endblock %}
