{% extends "app/base_site.html" %}
{% load static %}
{% load mathfilters %}
{% load crispy_forms_tags %}
{% block title %} Interview {% endblock title %}
{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            {% block interviewtableheader %}
                                <h2>Interviews List
                                    <small>| List of all Interviews</small>
                                </h2>
                            {% endblock %}
                            <ul class="nav navbar-right panel_toolbox">
                                {% block addbutton %}
                                     {% if perms.petitions.add_interviewsummary %}
                                <li><a class="btn btn-sm btn-primary" href="{% url 'interviewsummary_create' %}">Add
                                    Interview</a></li>
                                    {% endif %}
                                    {% endblock %}
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            {% block interviewtabledescription %}
                                <p class="text-muted font-13 m-b-30">
                                    This table shows all the petitioners who have been interviewed
                                    across all the prisons. You can search using any
                                    criteria
                                </p>
                            {% endblock %}
                            <table id="allmytables" class="table table-striped table-bordered dt-responsive "
                                   style="width:100%">
                                <thead style="width:100%">
                                <tr>
                                    <td>S/No</td>
                                    <td>PM. Number</td>
                                    <td>Name</td>
                                    <td>Prison No</td>
                                    <td>Prison</td>
                                    <td>Nationality</td>
                                    <td>Court Case No</td>
                                    <td>Conviction Age</td>
                                    <td>Current Age</td>
                                    <td>Period Spent in Custody</td>
                                    <td>Sentence</td>
                                    <td>Offense Age</td>
                                    <td>Next of Kin</td>
                                    <td>Next of Kin Relationship</td>
                                    <td>Contact Person</td>
                                    <td>Contact Person Tel</td>
                                    <td>County</td>
                                    <td>Sub County</td>
                                    <td>Home Location</td>
                                    <td>Nearest School</td>
                                    <td>Home Chief</td>
                                    <td>location of Offense</td>
                                    <td>Date of Conviction</td>
                                    <td>Date of Custody</td>
                                    <td>Relief Sought</td>
                                    <td>Offence</td>
                                    <td>Particulars of Offense</td>
                                    <td>Charged Alone for the Offence</td>
                                    <td>Names of CO-Accussed</td>
                                    <td>Knowledge of the Victim</td>
                                    <td>Name of the Victim</td>
                                    <td>Victims Residence</td>
                                    <td>Previous Convictions</td>
                                    <td>Previous Petition</td>
                                    <td>Date of Previous Petition</td>
                                    <td>Reason for Denial of Petition</td>
                                    <td>Reasons for Current Petition</td>
                                    <td>Disciplinary action in prison</td>
                                    <td>Details of Disciplinary Action</td>
                                    <td>Special Condition</td>
                                    <td>Details of Special Condition</td>
                                    <td>Trustee</td>
                                    <td>Date of Promotion to Trustee</td>
                                    <td>Skills</td>
                                    <td>Skills Details</td>
                                    <td>Appealed</td>
                                    <td>Appeal Case No</td>
                                    <td>Appeal Outcome</td>
                                    <td>Pending Court Matter</td>
                                    <td>Pending Court Matter Explanation</td>
                                    <td>Petition Added By</td>
                                    <td>Petition Added On</td>

                                    <td>Own account of circumstances sorrounding commission of offense</td>
                                    <td>Reconcialiation efforts with the victims of the offense that led to the current
                                        conviction
                                    </td>
                                    <td>Indication of Remorsefulness or Otherwise</td>
                                    <td>Any other comments</td>
                                    <td>Representation of victims (if applicable)</td>
                                    <td>Concluding observations of majority Members in view of the hearings and
                                        Interviews conducted in the Petition
                                    </td>
                                    <td>Chairperson's Vote</td>
                                    <td>Chairperson's Reason</td>
                                    <td>ViceChairperson's Vote</td>
                                    <td>Vice Chairperson's Reason</td>
                                    <td>Cabinet Secretary's (Interior) Vote</td>
                                    <td>Cabinet Secretary's (Interior) Reasons</td>
                                    <td>Member 1's Vote</td>
                                    <td>Member 1's Reason</td>
                                    <td>Member 2's Vote</td>
                                    <td>Member 2's Reason</td>
                                    <td>Member 3's Vote</td>
                                    <td>Member 3's Reason</td>
                                    <td>Member 4's Vote</td>
                                    <td>Member 4's Reason</td>
                                    <td>Member 5's Vote</td>
                                    <td>Member 5's Reason</td>
                                    <td>Member 6's Vote</td>
                                    <td>Member 6's Reason</td>
                                    <td>Final Resolution</td>
                                    <td>Interview Summary Created on</td>
                                    <td>Interview Summary last updated By</td>
                                    <td>Interview Summary last updated on</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in object_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>PM/{{ object.hearing.admissibility.petitioner.created.date.year }}/{{ object.hearing.admissibility.petitioner.created.date.month }}/{{ object.hearing.admissibility.petitioner.created.date.day }}/{{ object.id }}</td>
                                        <td>
                                            <a href="{{ object.get_absolute_url }}">{{ object.hearing.admissibility.petitioner.name }}</a>
                                        </td>
                                        <td>{{ object.hearing.admissibility.petitioner.prisonno }}</td>
                                        <td>{{ object.hearing.admissibility.petitioner.prison }}</td>
                                        <td>{{ object.hearing.admissibility.petitioner.nationality }}</td>
                                        <td>{{ object.hearing.admissibility.petitioner.courtcaseno }}</td>
                                        <td>{{ object.hearing.admissibility.petitioner.ageatconviction }} YEARS</td>
                                        <td>{{ today.year|sub:object.hearing.admissibility.petitioner.dateofconviction.year|add:object.hearing.admissibility.petitioner.ageatconviction }}
                                            YEARS
                                        </td>
                                        <td>{{ today.year|sub:object.hearing.admissibility.petitioner.dateofcustody.year }}
                                            YEARS
                                        </td>
                                        {% if object.hearing.admissibility.petitioner.convictedforlife == True %}
                                            <td>LIFE IMPRISONMENT</td>
                                        {% else %}
                                            <td>{{ object.hearing.admissibility.petitioner.sentence }} YEARS
                                                IMPRISONMENT
                                            </td>
                                        {% endif %}
                                        <td>{{ object.hearing.admissibility.petitioner.agewhenoffensewascommited }} YEARS</td>
                                        <td>{{ object.hearing.admissibility.petitioner.nextofkin }}</td>
                                        <td>{{ object.hearing.admissibility.petitioner.relationshipwithnextofkin }}</td>
                                        <td>{{ object.hearing.admissibility.petitioner.contactperson }}</td>
                                        <td>{{ object.hearing.admissibility.petitioner.telnoofcontactperson }}</td>
                                        <td>{{ object.hearing.admissibility.petitioner.county }}</td>
                                        <td>{{ object.hearing.admissibility.petitioner.subcounty }}</td>
                                        <td>{{ object.hearing.admissibility.petitioner.location }}</td>
                                        <td>{{ object.hearing.admissibility.petitioner.nearestschool }}</td>
                                        <td>{{ object.hearing.admissibility.petitioner.homechief }}</td>
                                        <td>{{ object.hearing.admissibility.petitioner.whereoffensewascommitted }}</td>
                                        <td>{{ object.hearing.admissibility.petitioner.dateofconviction }}</td>
                                        <td>{{ object.hearing.admissibility.petitioner.dateofcustody }}</td>
                                        <td>{{ object.hearing.admissibility.petitioner.reliefsought }}</td>
                                        <td>{{ object.hearing.admissibility.petitioner.offence }}</td>
                                        <td>{{ object.hearing.admissibility.petitioner.natureandparticularsofoffense }}</td>
                                        {% if object.hearing.admissibility.petitioner.chargedalonefortheoffense == True %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>{{ object.hearing.admissibility.petitioner.namesofcoaccused }}</td>
                                        {% if object.hearing.admissibility.petitioner.knowledgeofthevictim == True %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>{{ object.hearing.admissibility.petitioner.nameofvictim }}</td>
                                        <td>{{ object.hearing.admissibility.petitioner.areaofresidence }}</td>
                                        <td>{{ object.hearing.admissibility.petitioner.previousconvictions }}</td>
                                        {% if object.hearing.admissibility.petitioner.previouspetition == True %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>{{ object.hearing.admissibility.petitioner.dateofpreviouspetition }}</td>
                                        <td>{{ object.hearing.admissibility.petitioner.reasonofdenialofpreviouspetition }}</td>
                                        <td>{{ object.hearing.admissibility.petitioner.reasonforcurrentpetition }}</td>
                                        {% if object.hearing.admissibility.petitioner.anydisplinaryactioninprison == True %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>{{ object.hearing.admissibility.petitioner.detailsofdisplinaryactioninprison }}</td>
                                        {% if object.hearing.admissibility.petitioner.anyspecialcondition == True %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>{{ object.hearing.admissibility.petitioner.detailsofspecialcondition }}</td>
                                        {% if object.hearing.admissibility.petitioner.areyouatrustee == True %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>{{ object.hearing.admissibility.petitioner.dateofpromotiontotrustee }}</td>
                                        {% if object.hearing.admissibility.petitioner.anyspecialattributesorskills == True %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>{{ object.hearing.admissibility.petitioner.explanationofspecialattributesorskills }}</td>
                                        {% if object.hearing.admissibility.petitioner.appealedagainsttheconviction == True %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>{{ object.hearing.admissibility.petitioner.appealcaseno }}</td>
                                        <td>{{ object.hearing.admissibility.petitioner.appealoutcome }}</td>
                                        {% if object.hearing.admissibility.petitioner.anypendingcourtmatter == True %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>{{ object.hearing.admissibility.petitioner.explanationofpendingcourtmatter }}</td>
                                        <td>{{ object.hearing.admissibility.petitioner.added_by }}</td>
                                        <td>{{ object.hearing.admissibility.petitioner.created }}</td>
                                        <td>{{ object.ownaccountofcircumstances }}</td>
                                        <td>{{ object.reconciliationefforts }}</td>
                                        <td>{{ object.indicationofremosefulness }}</td>
                                        <td>{{ object.anyothercomments }}</td>
                                        <td>{{ object.representationofthevictim }}</td>
                                        <td>{{ object.concludingobservations }}</td>
                                        {% if object.chairpersonvote == True %}
                                            <td class="text-success">RECOMMENDED for release</td>
                                        {% else %}
                                            <td class="text-danger">NOT RECOMMENDED for release</td>
                                        {% endif %}
                                        <td>{{ object.chairpersonvotereason }}</td>
                                        {% if object.vicechairvote == True %}
                                            <td class="text-success">RECOMMENDED for release</td>
                                        {% else %}
                                            <td class="text-danger">NOT RECOMMENDED for release</td>
                                        {% endif %}
                                        <td>{{ object.vicechairvotereason }}</td>
                                        {% if object.csvote == True %}
                                            <td class="text-success">RECOMMENDED for release</td>
                                        {% else %}
                                            <td class="text-danger">NOT RECOMMENDED for release</td>
                                        {% endif %}
                                        <td>{{ object.csvotereason }}</td>
                                        {% if object.m1vote == True %}
                                            <td class="text-success">RECOMMENDED for release</td>
                                        {% else %}
                                            <td class="text-danger">NOT RECOMMENDED for release</td>
                                        {% endif %}
                                        <td>{{ object.m1votereason }}</td>
                                        {% if object.m2vote == True %}
                                            <td class="text-success">RECOMMENDED for release</td>
                                        {% else %}
                                            <td class="text-danger">NOT RECOMMENDED for release</td>
                                        {% endif %}
                                        <td>{{ object.m2votereason }}</td>
                                        {% if object.m3vote == True %}
                                            <td class="text-success">RECOMMENDED for release</td>
                                        {% else %}
                                            <td class="text-danger">NOT RECOMMENDED for release</td>
                                        {% endif %}
                                        <td>{{ object.m3votereason }}</td>
                                        {% if object.m4vote == True %}
                                            <td class="text-success">RECOMMENDED for release</td>
                                        {% else %}
                                            <td class="text-danger">NOT RECOMMENDED for release</td>
                                        {% endif %}
                                        <td>{{ object.m4votereason }}</td>
                                        {% if object.m5vote == True %}
                                            <td class="text-success">RECOMMENDED for release</td>
                                        {% else %}
                                            <td class="text-danger">NOT RECOMMENDED for release</td>
                                        {% endif %}
                                        <td>{{ object.m5votereason }}</td>
                                        {% if object.m6vote == True %}
                                            <td class="text-success">RECOMMENDED for release</td>
                                        {% else %}
                                            <td class="text-danger">NOT RECOMMENDED for release</td>
                                        {% endif %}
                                        <td>{{ object.m6votereason }}</td>
                                        <td>{{ object.finalresolution }}</td>

                                        <td>{{ object.created }}</td>
                                        <td>{{ object.updated_by }}</td>
                                        <td>{{ object.last_updated }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>
{% endblock javascripts %}




{% comment %}
{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'interviewsummary_list' %}">InterviewSummary Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>name</td>
    <td>created</td>
    <td>last_updated</td>
    <td>ownaccountofcircumstances</td>
    <td>reconciliationefforts</td>
    <td>indicationofremosefulness</td>
    <td>anyothercomments</td>
    <td>representationofthevictim</td>
    <td>concludingobservations</td>
    <td>chairpersonvote</td>
    <td>chairpersonvotereason</td>
    <td>vicechairvote</td>
    <td>vicechairvotereason</td>
    <td>csvote</td>
    <td>csvotereason</td>
    <td>m1vote</td>
    <td>m1votereason</td>
    <td>finalresolution</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.name }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
    <td>{{ object.ownaccountofcircumstances }}</td>
    <td>{{ object.reconciliationefforts }}</td>
    <td>{{ object.indicationofremosefulness }}</td>
    <td>{{ object.anyothercomments }}</td>
    <td>{{ object.representationofthevictim }}</td>
    <td>{{ object.concludingobservations }}</td>
    <td>{{ object.chairpersonvote }}</td>
    <td>{{ object.chairpersonvotereason }}</td>
    <td>{{ object.vicechairvote }}</td>
    <td>{{ object.vicechairvotereason }}</td>
    <td>{{ object.csvote }}</td>
    <td>{{ object.csvotereason }}</td>
    <td>{{ object.m1vote }}</td>
    <td>{{ object.m1votereason }}</td>
    <td>{{ object.finalresolution }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'interviewsummary_create' %}">Create new InterviewSummary</a>
{% endblock %}{% endcomment %}
