{% extends "app/base_site.html" %}
{% load static %}
{% load mathfilters %}
{% load crispy_forms_tags %}
{% block title %} Table Dynamic {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Interview Summary for the Petitioner
                                <small>| {{ object.hearing.admissibility.petitioner.name }}
                                    | {{ object.hearing.admissibility.petitioner.prisonno }}
                                    | {{ object.hearing.admissibility.petitioner.prison }}</small>
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Settings 1</a>
                                        </li>
                                        <li><a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        <p class="text-muted font-13 m-b-30">
                                            This shows all the interview summary of petitioner together with other
                                            details from petition form
                                        </p>
                                        <div>
                                            <div class="row">
                                                <div class="col-md-10"><a class="btn btn-warning"
                                                                          href="{{ object.get_update_url }}">Edit this
                                                    Interview</a></div>
                                                <div class="col-md-2"><a class="btn btn-info"
                                                                         href="{% url 'interviewsummary_list' %}">Go to
                                                    Interviews</a></div>
                                                <div class="col-md-2"><a class="btn btn-info"
                                                                         href="{% url 'interviewsummary_print' object.id %}">Print</a></div>
                                            </div>
                                        </div>
                                        <table class="table">
                                            <tr>
                                                <td>Name</td>
                                                <td>{{ object.hearing.admissibility.petitioner.name }}</td>
                                            </tr>
                                            <tr>
                                                <td>Prison Number</td>
                                                <td>{{ object.hearing.admissibility.petitioner.prisonno }}</td>
                                            </tr>
                                        <tr>
                                                <td>Prison</td>
                                                <td>{{ object.hearing.admissibility.petitioner.prison }}</td>
                                            </tr>
                                            <tr>
                                                <td>Nationality</td>
                                                <td>{{ object.hearing.admissibility.petitioner.nationality }}</td>
                                            </tr>
                                            <tr>
                                                <td>Court Case No</td>
                                                <td>{{ object.hearing.admissibility.petitioner.courtcaseno }}</td>
                                            </tr>
                                            <tr>
                                                <td>Date of conviction</td>
                                                <td>{{ object.hearing.admissibility.petitioner.dateofconviction }}</td>
                                            </tr>
                                            <tr>
                                                <td>Date of Custody</td>
                                                <td>{{ object.hearing.admissibility.petitioner.dateofcustody }}</td>
                                            </tr>
                                            <tr>
                                            <tr>
                                                <td>Sentence</td>
                                                {% if object.hearing.admissibility.petitioner.convictedforlife == True %}
                                                    <td>LIFE IMPRISONMENT</td>
                                                {% else %}
                                                    <td>{{ object.hearing.admissibility.petitioner.sentence }} YEARS
                                                        IMPRISONMENT
                                                    </td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>Age at conviction
                                                <td>{{ object.hearing.admissibility.petitioner.ageatconviction }}
                                                    YEARS
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Current Age
                                                <td>{{ today.year|sub:object.hearing.admissibility.petitioner.dateofconviction.year|add:object.hearing.admissibility.petitioner.ageatconviction }}
                                                    YEARS
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Period Spent in Custody</td>
                                                <td>{{ today.year|sub:object.hearing.admissibility.petitioner.dateofcustody.year }}
                                                    YEARS
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Age when offense was committed</td>
                                                <td>{{ object.hearing.admissibility.petitioner.agewhenoffensewascommited }}
                                                    YEARS
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Naxt of Kin</td>
                                                <td>{{ object.hearing.admissibility.petitioner.nextofkin }}</td>
                                            </tr>
                                            <tr>
                                                <td>Relation with next of kin</td>
                                                <td>{{ object.hearing.admissibility.petitioner.relationshipwithnextofkin }}</td>
                                            </tr>
                                            <tr>
                                                <td>Contact Person</td>
                                                <td>{{ object.hearing.admissibility.petitioner.contactperson }}</td>
                                            </tr>
                                            <tr>
                                                <td>Tel No. of contact person</td>
                                                <td>{{ object.hearing.admissibility.petitioner.telnoofcontactperson }}</td>
                                            </tr>
                                            <tr>
                                                <td>Home County</td>
                                                <td>{{ object.hearing.admissibility.petitioner.county }}</td>
                                            </tr>
                                            <tr>
                                                <td>Home Subcounty</td>
                                                <td>{{ object.hearing.admissibility.petitioner.subcounty }}</td>
                                            </tr>
                                            <tr>
                                                <td>location</td>
                                                <td>{{ object.hearing.admissibility.petitioner.location }}</td>
                                            </tr>
                                            <tr>
                                                <td>Nearest School</td>
                                                <td>{{ object.hearing.admissibility.petitioner.nearestschool }}</td>
                                            </tr>
                                            <tr>
                                                <td>Name of Home Chief</td>
                                                <td>{{ object.hearing.admissibility.petitioner.homechief }}</td>
                                            </tr>
                                            <tr>
                                                <td>Where the offense was committed</td>
                                                <td>{{ object.hearing.admissibility.petitioner.whereoffensewascommitted }}</td>
                                            </tr>
                                            <tr>
                                                <td>Relief Sought</td>
                                                <td>{{ object.hearing.admissibility.petitioner.reliefsought }}</td>
                                            </tr>
                                            <tr>
                                                <td>Offence</td>
                                                <td>{{ object.hearing.admissibility.petitioner.offence }}</td>
                                            </tr>
                                            <tr>
                                                <td>The nature, particulars and circumstances surrounding the commission
                                                    of the offence
                                                </td>
                                                <td>{{ object.hearing.admissibility.petitioner.natureandparticularsofoffense }}</td>
                                            </tr>
                                            <tr>
                                                <td>Were you charged alone fro the offense?</td>
                                                {% if object.hearing.admissibility.petitioner.chargedalonefortheoffense == True %}
                                                    <td>Yes</td>
                                                {% else %}
                                                    <td>No</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>Names of Co-Accused</td>
                                                <td>{{ object.hearing.admissibility.petitioner.namesofcoaccused }}</td>
                                            </tr>
                                            <tr>
                                                <td>Do you the victim of the offense for which you were charged?</td>
                                                {% if object.hearing.admissibility.petitioner.knowledgeofthevictim == True %}
                                                    <td>Yes</td>
                                                {% else %}
                                                    <td>No</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>Name of the Victim</td>
                                                <td>{{ object.hearing.admissibility.petitioner.nameofvictim }}</td>
                                            </tr>
                                            <tr>
                                                <td>Area of residence of the victim</td>
                                                <td>{{ object.hearing.admissibility.petitioner.areaofresidence }}</td>
                                            </tr>
                                            <tr>
                                                <td>Previous Convictions</td>
                                                <td>{{ object.hearing.admissibility.petitioner.previousconvictions }}</td>
                                            </tr>
                                            <tr>
                                                <td>Has the admissibility.petitioner made any previous petition?</td>
                                                {% if object.hearing.admissibility.petitioner.previouspetition == True %}
                                                    <td>Yes</td>
                                                {% else %}
                                                    <td>No</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>Date of previous petition</td>
                                                <td>{{ object.hearing.admissibility.petitioner.dateofpreviouspetition }}</td>
                                            </tr>
                                            <tr>
                                                <td>Reason of denial of previous petition</td>
                                                <td>{{ object.hearing.admissibility.petitioner.reasonofdenialofpreviouspetition }}</td>
                                            </tr>
                                            <tr>
                                                <td>Reasons for current petitioning</td>
                                                <td>{{ object.hearing.admissibility.petitioner.reasonforcurrentpetition }}</td>
                                            </tr>
                                            <tr>
                                                <td>Have you had any disciplinary action taken against you while in
                                                    prison?
                                                </td>
                                                {% if object.hearing.admissibility.petitioner.anydisplinaryactioninprison == True %}
                                                    <td>Yes</td>
                                                {% else %}
                                                    <td>No</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>Details of disciplinary action in prison</td>
                                                <td>{{ object.hearing.admissibility.petitioner.detailsofdisplinaryactioninprison }}</td>
                                            </tr>
                                            <tr>
                                                <td>Any special condition e.g physical ability challenges, terminal
                                                    sickness, very sickly, mental health etc?
                                                </td>
                                                {% if object.hearing.admissibility.petitioner.anyspecialcondition == True %}
                                                    <td>Yes</td>
                                                {% else %}
                                                    <td>No</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>Details of special condition</td>
                                                <td>{{ object.hearing.admissibility.petitioner.detailsofspecialcondition }}</td>
                                            </tr>
                                            <tr>
                                                <td>Are you a trustee?</td>
                                                {% if object.hearing.admissibility.petitioner.areyouatrustee == True %}
                                                    <td>Yes</td>
                                                {% else %}
                                                    <td>No</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>Date of promotional to trustee</td>
                                                <td>{{ object.hearing.admissibility.petitioner.dateofpromotiontotrustee }}</td>
                                            </tr>
                                            <tr>
                                                <td>Are you recognized for special attributes, achievement or skills
                                                    attained in prison?
                                                </td>
                                                {% if object.hearing.admissibility.petitioner.anyspecialattributesorskills == True %}
                                                    <td>Yes</td>
                                                {% else %}
                                                    <td>No</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>Explanation of special attributes and skills</td>
                                                <td>{{ object.hearing.admissibility.petitioner.explanationofspecialattributesorskills }}</td>
                                            </tr>
                                            <tr>
                                                <td>Did you appeal against the conviction?</td>
                                                {% if object.hearing.admissibility.petitioner.appealedagainsttheconviction == True %}
                                                    <td>Yes</td>
                                                {% else %}
                                                    <td>No</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>Appeal case Numbers</td>
                                                <td>{{ object.hearing.admissibility.petitioner.appealcaseno }}</td>
                                            </tr>
                                            <tr>
                                                <td>Appeal Outcome</td>
                                                <td>{{ object.hearing.admissibility.petitioner.appealoutcome }}</td>
                                            </tr>
                                            <tr>
                                                <td>Do you have any pending court matter even if not related to your
                                                    conviction?
                                                </td>
                                                {% if object.hearing.admissibility.petitioner.anypendingcourtmatter == True %}
                                                    <td>Yes</td>
                                                {% else %}
                                                    <td>No</td>
                                                {% endif %}

                                            </tr>
                                            <tr>
                                                <td>Explanation of pending court matter</td>
                                                <td>{{ object.hearing.admissibility.petitioner.explanationofpendingcourtmatter }}</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            </tr>
                                            <tr>
                                                <td class="text-right text-uppercase text-primary">Start of Interview
                                                    Summary
                                                </td>
                                                <td class="text-left text-uppercase text-primary"></td>
                                            </tr>
                                            <tr>
                                                <td>Final Resolution</td>
                                                {% if object.finalresolution == 'Recommended to President' %}
                                                    <td class="text-success">{{ object.finalresolution }}</td>
                                                {% else %}
                                                    <td class="text-danger">{{ object.finalresolution }}</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>Own account of circumstances surrounding commission of Offense</td>
                                                <td>{{ object.ownaccountofcircumstances }}</td>
                                            </tr>
                                            <tr>
                                                <td>Reconciliation efforts with victims of the offense that led to
                                                    current conviction/td>
                                                <td>{{ object.reconciliationefforts }}</td>
                                            </tr>
                                            <tr>
                                                <td>Indication of Remorsefulness or otherwise</td>
                                                <td>{{ object.indicationofremosefulness }}</td>
                                            </tr>
                                            <tr>
                                                <td>Any other comments</td>
                                                <td>{{ object.anyothercomments }}</td>
                                            </tr>
                                            <tr>
                                                <td>Representation of victims (if applicable)</td>
                                                <td>{{ object.representationofthevictim }}</td>
                                            </tr>
                                            <tr>
                                                <td>Concluding Observations of majority Members in view of the Hearings
                                                    and Interviews conducted in the Prison
                                                </td>
                                                <td>{{ object.concludingobservations }}</td>
                                            </tr>
                                            <tr>
                                                <td>Chairperson's Vote</td>
                                                {% if object.chairpersonvote == True %}
                                                    <td class="text-success">Recommended for release</td>
                                                {% else %}
                                                    <td class="text-danger">Not recommended for release</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>Chairperson's Vote Reason</td>
                                                     <td>{{ object.chairpersonvotereason }}</td>
                                            </tr>
                                            <tr>
                                                <td>Vice Chairperson's Vote</td>
                                                {% if object.vicechairvotereason == True %}
                                                    <td class="text-success">Recommended for release</td>
                                                {% else %}
                                                    <td class="text-danger">Not recommended for release</td>
                                                {% endif %}
                                            </tr>
                                        <tr>
                                                <td>Vice Chairperson's Vote Reason</td>
                                                     <td>{{ object.vicechairvotereason}}</td>
                                            </tr>

                                            <tr>
                                                <td>Cabinet Secretary's (Interior) Vote</td>
                                                {% if object.csvote == True %}
                                                    <td class="text-success">Recommended for release</td>
                                                {% else %}
                                                    <td class="text-danger">Not recommended for release</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>Cabinet Secretary's (Interior) Vote Reason</td>
                                                     <td>{{ object.csvotereason }}</td>
                                            </tr>
                                            <tr>
                                                <td>Member 1's Vote</td>
                                                {% if object.m1vote == True %}
                                                    <td class="text-success">Recommended for release</td>
                                                {% else %}
                                                    <td class="text-danger">Not recommended for release</td>
                                                {% endif %}
                                            </tr>
                                        <tr>
                                                <td>Member 1's Vote Reason</td>
                                                     <td>{{ object.m1votereason }}</td>
                                            </tr>
                                            <tr>
                                                <td>Member 2's Vote</td>
                                                {% if object.m2vote == True %}
                                                    <td class="text-success">Recommended for release</td>
                                                {% else %}
                                                    <td class="text-danger">Not recommended for release</td>
                                                {% endif %}
                                            </tr>
                                        <tr>
                                                <td>Member 2's Vote Reason</td>
                                                     <td>{{ object.m2votereason }}</td>
                                            </tr>
                                            <tr>
                                                <td>Member 3's Vote</td>
                                                {% if object.m3vote == True %}
                                                    <td class="text-success">Recommended for release</td>
                                                {% else %}
                                                    <td class="text-danger">Not recommended for release</td>
                                                {% endif %}
                                            </tr>
                                        <tr>
                                                <td>Member 3's Vote Reason</td>
                                                     <td>{{ object.m3votereason }}</td>
                                            </tr>
                                            <tr>
                                                <td>Member 4's Vote</td>
                                                {% if object.m4vote == True %}
                                                    <td class="text-success">Recommended for release</td>
                                                {% else %}
                                                    <td class="text-danger">Not recommended for release</td>
                                                {% endif %}
                                            </tr>
                                        <tr>
                                                <td>Member 4's Vote Reason</td>
                                                     <td>{{ object.m4votereason }}</td>
                                            </tr>
                                            <tr>
                                                <td>Member 5's Vote</td>
                                                {% if object.m5vote == True %}
                                                    <td class="text-success">Recommended for release</td>
                                                {% else %}
                                                    <td class="text-danger">Not recommended for release</td>
                                                {% endif %}
                                            </tr>
                                        <tr>
                                                <td>Member 5's Vote Reason</td>
                                                     <td>{{ object.m5votereason }}</td>
                                            </tr>
                                            <tr>
                                                <td>Member 6's Vote</td>
                                                {% if object.m6vote == True %}
                                                    <td class="text-success">Recommended for release</td>
                                                {% else %}
                                                    <td class="text-danger">Not recommended for release</td>
                                                {% endif %}
                                            </tr>
                                        <tr>
                                                <td>Member 6's Vote Reason</td>
                                                     <td>{{ object.m6votereason }}</td>
                                            </tr>
                                            <tr>
                                                <td>Interview Details Added On</td>
                                                <td>{{ object.created }}</td>
                                            </tr>
                                            <tr>
                                                <td>Interview Details Last Updated On</td>
                                                <td>{{ object.last_updated }}</td>
                                            </tr>
                                        </table>
                                        <a class="btn btn-primary" href="{{ object.get_update_url }}">Edit this
                                            Interview</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>
{% endblock javascripts %}


{% comment %}
{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'hearingsummary_list' %}">HearingSummary Listing</a></p>
<table class="table">
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>familystatus</td><td>{{ object.familystatus }}</td></tr>
<tr><td>natureandseriousnessoftheoffense</td><td>{{ object.natureandseriousnessoftheoffense }}</td></tr>
<tr><td>personalcircumstances</td><td>{{ object.personalcircumstances }}</td></tr>
<tr><td>interestofstateandcommunity</td><td>{{ object.interestofstateandcommunity }}</td></tr>
<tr><td>postconvictionconduct</td><td>{{ object.postconvictionconduct }}</td></tr>
<tr><td>officialrecommendationsandreports</td><td>{{ object.officialrecommendationsandreports }}</td></tr>
<tr><td>wherethepetitionerhaspersued</td><td>{{ object.wherethepetitionerhaspersued }}</td></tr>
<tr><td>representationofvictim</td><td>{{ object.representationofvictim }}</td></tr>
<tr><td>reportoffellowinmates</td><td>{{ object.reportoffellowinmates }}</td></tr>
<tr><td>reportsfromprobationservices</td><td>{{ object.reportsfromprobationservices }}</td></tr>
<tr><td>observationswithmainreasons</td><td>{{ object.observationswithmainreasons }}</td></tr>
<tr><td>memberspresent</td><td>{{ object.memberspresent }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit HearingSummary</a>

{% endblock %}{% endcomment %}


{% comment %}
{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'interviewsummary_list' %}">InterviewSummary Listing</a></p>
<table class="table">
<tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>ownaccountofcircumstances</td><td>{{ object.ownaccountofcircumstances }}</td></tr>
<tr><td>reconciliationefforts</td><td>{{ object.reconciliationefforts }}</td></tr>
<tr><td>indicationofremosefulness</td><td>{{ object.indicationofremosefulness }}</td></tr>
<tr><td>anyothercomments</td><td>{{ object.anyothercomments }}</td></tr>
<tr><td>representationofthevictim</td><td>{{ object.representationofthevictim }}</td></tr>
<tr><td>concludingobservations</td><td>{{ object.concludingobservations }}</td></tr>
<tr><td>chairpersonvote</td><td>{{ object.chairpersonvote }}</td></tr>
<tr><td>chairpersonvotereason</td><td>{{ object.chairpersonvotereason }}</td></tr>
<tr><td>vicechairvote</td><td>{{ object.vicechairvote }}</td></tr>
<tr><td>vicechairvotereason</td><td>{{ object.vicechairvotereason }}</td></tr>
<tr><td>csvote</td><td>{{ object.csvote }}</td></tr>
<tr><td>csvotereason</td><td>{{ object.csvotereason }}</td></tr>
<tr><td>m1vote</td><td>{{ object.m1vote }}</td></tr>
<tr><td>m1votereason</td><td>{{ object.m1votereason }}</td></tr>
<tr><td>finalresolution</td><td>{{ object.finalresolution }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit InterviewSummary</a>

{% endblock %}{% endcomment %}
