{% extends "app/base_site.html" %}

{% block title %} User Dashboard {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
   <h2>My Dashboard<small> | Overview of what you have done</small></h2>
        <!-- top tiles -->
        <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> My Petitions</span>
                <div class="count">{{ noofpetitions }}</div>
                <span class="count_bottom"><i class="green"></i><a class="btn-sm btn-success"
                                                                   href="{% url 'mypetitionform_list' %}">More Details</a></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> My Eligible Petitions</span>
                <div class="count">{{ eligiblepetitions }}</div>
                <span class="count_bottom"><i class="green"></i><a class="btn-sm btn-success"
                                                                   href="{% url 'myeligiblepetitionform_list' %}">More Details</a></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top text-danger"><i class="fa fa-user"></i> My InEligible Petitions</span>
                <div class="count">{{ ineligiblepetitions }}</div>
                <span class="count_bottom"><i class="green"></i><a class="btn-sm btn-success"
                                                                   href="{% url 'myineligiblepetitionform_list' %}">More Details</a></span>
            </div>
             {% if perms.petitions.can_view_myadmissibilityform %}
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> My Admissibilities</span>
                <div class="count">{{ totaladmissibilities }}</div>
                <span class="count_bottom"><i class="green"></i><a class="btn-sm btn-success"
                                                                   href="{% url 'myadmissibilityform_list' %}">More Details</a></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> My Admissible Petitions</span>
                <div class="count">{{ admissiblepetitions }}</div>
                <span class="count_bottom"><i class="green"></i><a class="btn-sm btn-success"
                                                                   href="{% url 'myadmissibleadmissibilityform_list' %}">More Details</a></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top text-danger"><i class="fa fa-user"></i> My InAdmissible Petitions</span>
                <div class="count">{{ inadmissiblepetitions }}</div>
                <span class="count_bottom"><i class="green"></i><a class="btn-sm btn-success"
                                                                   href="{% url 'myinadmissibleadmissibilityform_list' %}">More Details</a></span>
            </div>
        </div>
        <!-- /top tiles -->
        <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top text-warning"><i class="fa fa-user"></i> My Awaiting Admissibility</span>
                <div class="count">{{ awaitingadmissibility }}</div>
                <span class="count_bottom"><i class="green"></i><a class="btn-sm btn-success"
                                                                   href="{% url 'myawaitingadmissibility' %}">More Details</a></span>
            </div>
             {% endif %}
        {% if perms.petitions.can_view_mypetitionsummary %}
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> My Petitions Summaries</span>
                <div class="count">{{ summaries }}</div>
                <span class="count_bottom"><i class="green"></i><a class="btn-sm btn-success"
                                                                   href="{% url 'mypetitionsummary_list' %}">More Details</a></span>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top text-warning"><i class="fa fa-user"></i> My Awaiting Summaries</span>
                <div class="count">{{ awaitingsummaries }}</div>
                <span class="count_bottom"><i class="green"></i><a class="btn-sm btn-success"
                                                                   href="{% url 'myawaitingsummary' %}">More Details</a></span>
            </div>
        {% endif %}
        {% if perms.petitions.can_view_myhearings %}
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> My Hearings</span>
                <div class="count">{{ hearings }}</div>
                <span class="count_bottom"><i class="green"></i><a class="btn-sm btn-success"
                                                                   href="{% url 'myhearingsummary_list' %}">More Details</a></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top text-warning"><i class="fa fa-user"></i> My Awaiting Hearing</span>
                <div class="count">{{ awaitinghearing }}</div>
                <span class="count_bottom"><i class="green"></i><a class="btn-sm btn-success"
                                                                   href="{% url 'myawaitinghearing' %}">More Details</a></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top text-danger"><i class="fa fa-user"></i> My Deferred Hearings</span>
                <div class="count">{{ deferredhearings }}</div>
                <span class="count_bottom"><i class="green"></i><a class="btn-sm btn-success"
                                                                   href="{% url 'myhearingsummary_deferred' %}">More Details</a></span>
            </div>
        </div>
        <!-- /top tiles -->
        <!-- /top tiles -->
        <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top text-danger"><i class="fa fa-user"></i> My Declined Hearings</span>
                <div class="count">{{ declinedhearings }}</div>
                <span class="count_bottom"><i class="green"></i><a class="btn-sm btn-success"
                                                                   href="{% url 'myhearingsummary_declined' %}">More Details</a></span>
            </div>
        {% endif %}
        {% if perms.petitions.can_view_myinterviews %}
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top text-warning"><i class="fa fa-user"></i> My Awaiting Schedule for </span>
                {% if awaitingscheduleforinterview == 0 %}
                    <div class="count text-success">{{ awaitingscheduleforinterview }}</div>
                {% else %}
                    <div class="count text-danger">{{ awaitingscheduleforinterview }}</div>
                {% endif %}
                <span class="text-warning">Interview</span>
                <span class="count_bottom"><i class="green"></i><a class="btn-sm btn-success"
                                                                   href="{% url 'myhearingsummary_awaitingscheduleforinterview' %}">More Details</a></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top text-success"><i class="fa fa-user"></i> My Scheduled for Interview</span>
                <div class="count">{{ scheduledforinterview }}</div>
                <span class="count_bottom"><i class="green"></i><a class="btn-sm btn-success"
                                                                   href="{% url 'myhearingsummary_scheduledforinterview' %}">More Details</a></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top text-success"><i class="fa fa-user"></i>My Interviews Done</span>
                <div class="count">{{ interviews }}</div>
                <span class="count_bottom"><i class="green"></i><a class="btn-sm btn-success"
                                                                   href="{% url 'myinterviewsummary_list' %}">More Details</a></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top text-warning"><i class="fa fa-user"></i>My Awaiting Interview</span>
                <div class="count text-danger">{{ awaitinginterviews }}</div>
                <span class="count_bottom"><i class="green"></i><a class="btn-sm btn-success"
                                                                   href="{% url 'myawaitinginterviws' %}">More Details</a></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top text-success"><i class="fa fa-user"></i>My Interviews Recommended</span>
                <div class="count">{{ interviewsrecommended }}</div>
                <span class="count_bottom"><i class="green"></i><a class="btn-sm btn-success"
                                                                   href="{% url 'myinterviewsummary_recommended' %}">More Details</a></span>
            </div>
        </div>
        <!-- /top tiles -->
        <!-- /top tiles -->
        <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top text-danger"><i class="fa fa-user"></i>My Interviews Not </span>
                <div class="count">{{ notinterviewsrecommended }}</div>
                <span class="text-danger">Recommended</span>
                <span class="count_bottom"><i class="green"></i><a class="btn-sm btn-success"
                                                                   href="{% url 'myinterviewsummary_notrecommended' %}">More Details</a></span>
            </div>
            {% endif %}
        {% if perms.petitions.can_view_myrecommendations %}
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top text-success"><i class="fa fa-user"></i>My Recommendations</span>
                <div class="count">{{ recommendations }}</div>
                <span class="count_bottom"><i class="green"></i><a class="btn-sm btn-success"
                                                                   href="{% url 'myrecommendationform_list' %}">More Details</a></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top text-warning"><i class="fa fa-user"></i>My Awaiting Recommendations</span>
                <div class="count">{{ awaitingrecommendations }}</div>
                <span class="count_bottom"><i class="green"></i><a class="btn-sm btn-success"
                                                                   href="{% url 'myawaitingrecommendations' %}">More Details</a></span>
            </div>
        {% endif %}
        {% if perms.petitions.can_view_mygrants %}
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top text-warning"><i class="fa fa-user"></i>My Awaiting Grant</span>
                <div class="count">{{ myawaitingregrant }}</div>
                <span class="count_bottom"><i class="green"></i><a class="btn-sm btn-success"
                                                                   href="{% url 'mypetitions_awaiting_grant_list' %}">More Details</a></span>
            </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top text-warning"><i class="fa fa-user"></i>My Grants</span>
                <div class="count">{{ mygrants }}</div>
                <span class="count_bottom"><i class="green"></i><a class="btn-sm btn-success"
                                                                   href="{% url 'mypetitions_grant_list' %}">More Details</a></span>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- Chart.js -->
    <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- Skycons -->
    <script src="/static/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="/static/vendors/Flot/jquery.flot.js"></script>
    <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
    <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/static/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
{% endblock javascripts %}
