{% extends 'petitions/exits/exits_list.html' %}
{% block title %} Exit| Served Term {% endblock title %}

{% block tableheader %}
    <h2>Served Term Exits List
        <small>| List of all petitioners who have served their term and released</small>
    </h2>
{% endblock %}
{% block  tabledescription %}
    <p class="text-muted font-13 m-b-30">
        This table showw all the petitioners who have been released after serving their sentence. You can search using
        any
        criteria
    </p>
{% endblock %}
