{% extends "app/base_site.html" %}
{% load static %}
{% load mathfilters %}
{% load crispy_forms_tags %}
{% block title %} Exit {% endblock title %}
{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>POMAC Exits List
                                <small>| List of all petitioner released under POMAC</small>
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Settings 1</a>
                                        </li>
                                        <li><a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <p class="text-muted font-13 m-b-30">
                               This table showw all the petitioners who have been released under POMAC. You can search using any
                                criteria
                            </p>
                         <a class="btn btn-primary" href="{% url 'petitions_exits_create' %}">Create new Exit</a>
                            <table id="allmytables" class="table table-striped table-bordered dt-responsive " style="width:100%">
                                <thead style="width:100%">
                                <tr>
                                    <td>S/No</td>
                                    <td>Name</td>
                                    <td>Prison No</td>
                                    <td>Prison</td>
                                    <td>Nationality</td>
                                    <td>Court Case No</td>
                                    <td>Conviction Age</td>
                                    <td>Current Age</td>
                                    <td>Period Spent in Custody</td>
                                    <td>Sentence</td>
                                    <td>Offense Age</td>
                                    <td>Next of Kin</td>
                                    <td>Next of Kin Relationship</td>
                                    <td>Contact Person</td>
                                    <td>Contact Person Tel</td>
                                    <td>County</td>
                                    <td>Sub County</td>
                                    <td>Home Location</td>
                                    <td>Nearest School</td>
                                    <td>Home Chief</td>
                                    <td>location of Offense</td>
                                    <td>Date of Conviction</td>
                                    <td>Date of Custody</td>
                                    <td>Relief Sought</td>
                                    <td>Offence</td>
                                    <td>Particulars of Offense</td>
                                    <td>Charged Alone for the Offence</td>
                                    <td>Names of CO-Accussed</td>
                                    <td>Knowledge of the Victim</td>
                                    <td>Name of the Victim</td>
                                    <td>Vitims Residence</td>
                                    <td>Previous Convictions</td>
                                    <td>Previous Petition</td>
                                    <td>Date of Previous Petition</td>
                                    <td>Reason for Denial of Petition</td>
                                    <td>Reasons for Current Petition</td>
                                    <td>Disciplinary action in prison</td>
                                    <td>Details of Disciplinary Action</td>
                                    <td>Special Condition</td>
                                    <td>Details of Special Condition</td>
                                    <td>Trustee</td>
                                    <td>Date of Promotion to Trustee</td>
                                    <td>Skills</td>
                                    <td>Skills Details</td>
                                    <td>Appealed</td>
                                    <td>Appeal Case No</td>
                                    <td>Appeal Outcome</td>
                                    <td>Pending Court Matter</td>
                                    <td>Pending Court Matter Explanation</td>
                                    <td>Petition Submitted By</td>
                                    <td>Petition Submitted On</td>
                                    <td>Exit Reason</td>
                                    <td>Exit Added By</td>
                                    <td>Exit Added On</td>
                                    <td>Exit last Updated On</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in object_list %}
                                    <tr>
                                        <td>{{ forloop.counter}}</td>
                                        <td><a href="{{object.get_absolute_url}}">{{object.petitioner.name}}</a></td>
                                        <td>{{ object.petitioner.prisonno }}</td>
                                        <td>{{ object.petitioner.prison }}</td>
                                        <td>{{ object.petitioner.nationality }}</td>
                                        <td>{{ object.petitioner.courtcaseno }}</td>
                                        <td>{{ object.petitioner.ageatconviction }} YEARS</td>
                                        <td>{{ today.year|sub:object.petitioner.dateofconviction.year|add:object.petitioner.ageatconviction }} YEARS</td>
                                        <td>{{ today.year|sub:object.petitioner.dateofcustody.year }} YEARS</td>
                                    {% if object.petitioner.convictedforlife == True %}
                                        <td>LIFE IMPRISONMENT</td>
                                        {% else %}
                                            <td>{{ object.petitioner.sentence }} YEARS IMPRISONMENT</td>
                                        {% endif %}
                                        <td>{{ object.petitioner.agewhenoffensewascommited }}</td>
                                        <td>{{ object.petitioner.nextofkin }}</td>
                                        <td>{{ object.petitioner.relationshipwithnextofkin }}</td>
                                        <td>{{ object.petitioner.contactperson }}</td>
                                        <td>{{ object.petitioner.telnoofcontactperson }}</td>
                                        <td>{{ object.petitioner.county }}</td>
                                        <td>{{ object.petitioner.subcounty }}</td>
                                        <td>{{ object.petitioner.location }}</td>
                                        <td>{{ object.petitioner.nearestschool }}</td>
                                        <td>{{ object.petitioner.homechief }}</td>
                                        <td>{{ object.petitioner.whereoffensewascommitted }}</td>
                                        <td>{{ object.petitioner.dateofconviction }}</td>
                                        <td>{{ object.petitioner.dateofcustody }}</td>
                                        <td>{{ object.petitioner.reliefsought }}</td>
                                        <td>{{ object.petitioner.offence }}</td>
                                        <td>{{ object.petitioner.natureandparticularsofoffense }}</td>
                                        {% if object.petitioner.chargedalonefortheoffense == True %}
                                        <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>{{ object.petitioner.namesofcoaccused }}</td>
                                    {% if object.petitioner.knowledgeofthevictim == True %}
                                        <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>{{ object.petitioner.nameofvictim }}</td>
                                        <td>{{ object.petitioner.areaofresidence }}</td>
                                        <td>{{ object.petitioner.previousconvictions }}</td>
                                     {% if object.petitioner.previouspetition == True %}
                                        <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>{{ object.petitioner.dateofpreviouspetition }}</td>
                                        <td>{{ object.petitioner.reasonofdenialofpreviouspetition }}</td>
                                        <td>{{ object.petitioner.reasonforcurrentpetition }}</td>
                                    {% if object.petitioner.anydisplinaryactioninprison == True %}
                                        <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>{{ object.petitioner.detailsofdisplinaryactioninprison }}</td>
                                      {% if object.petitioner.anyspecialcondition == True %}
                                        <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>{{ object.petitioner.detailsofspecialcondition }}</td>
                                         {% if object.petitioner.areyouatrustee == True %}
                                        <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>{{ object.petitioner.dateofpromotiontotrustee }}</td>
                                    {% if object.petitioner.anyspecialattributesorskills == True %}
                                        <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>{{ object.petitioner.explanationofspecialattributesorskills }}</td>
                                         {% if object.petitioner.appealedagainsttheconviction == True %}
                                        <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>{{ object.petitioner.appealcaseno }}</td>
                                        <td>{{ object.petitioner.appealoutcome }}</td>
                                    {% if object.petitioner.anypendingcourtmatter == True %}
                                        <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>{{ object.petitioner.explanationofpendingcourtmatter }}</td>
                                        <td>{{ object.petitioner.added_by }}</td>
                                        <td>{{ object.petitioner.created }}</td>
                                         <td>{{ object.exitreason }}</td>
                                        <td>{{ object.added_by }}</td>
                                        <td>{{ object.created }}</td>
                                        <td>{{ object.last_updated }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>
{% endblock javascripts %}
