{% extends 'petitions/exits/exits_list.html' %}
{% block title %} Exit| Resentencing {% endblock title %}

{% block tableheader %}
    <h2>Resentencing Exits List
        <small>| List of all petitioners released following resentencing</small>
    </h2>
{% endblock %}
{% block  tabledescription %}
    <p class="text-muted font-13 m-b-30">
        This table showw all the petitioners who have been released following resentencing by court . You can search using
        any
        criteria
    </p>
{% endblock %}
