{% extends "petitions/admissibility_form/admissibilityform_list.html" %}
{% block title %} Summary {% endblock title %}
{% block admissibilitytableheading %}
    <h2>Awaiting Summary List
        <small>| List of all Admissible Petitions Awaiting Summary</small>
    </h2>
{% endblock %}
{% block admissibilitytabledescription %}
    <p class="text-muted font-13 m-b-30">
        This table shows all petitions that are admissible but they have not been done a summary. You can search using
        any criteria
    </p>
{% endblock %}

{% block addbutton %}
    {% if perms.petitions.add_petitionsummary %}
        <li><a class="btn btn-sm btn-primary" href="{% url 'petitionsummary_create' %}">Add Summary</a></li>
    {% endif %}
{% endblock %}
