{% extends "petitions/summaries/petitionsummary_list.html" %}
{% block title %} Summary {% endblock title %}
 {% block summariestableheader %}
                            <h2>My Summary List
                                <small>| List of all My Summaries</small>
                            </h2>
                            {% endblock %}}
 {% block summariestabledescription %}
   <p class="text-muted font-13 m-b-30">
                               This table show all the summaries that you have submitted. You can search using any
                                criteria
                            </p>
{% endblock %}
