{% extends "app/base_site.html" %}
{% load static %}
{% load mathfilters %}
{% load crispy_forms_tags %}
{% block title %} Summary {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Petitions Summary
                                <small>| {{ object.admissibility.petitioner.name }}
                                    | {{ object.admissibility.petitioner.prisonno }}
                                    | {{ object.admissibility.petitioner.prison }}</small>
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        <p class="text-muted font-13 m-b-30">
                                            This shows the summary of the petition with other details
                                        </p>
                                        <!-- Modal -->
                                        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
                                             aria-hidden="true"
                                             style="display: none;">
                                            <div class="modal-dialog modal-ls">
                                                <div class="modal-content">

                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                        <h4 class="modal-title" id="myModalLabel2">Confirm Delete</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h4>Delete Summary?</h4>
                                                        <p>Are you sure you want to delete the summary of the petition
                                                            for <strong>{{ object.admissibility.petitioner.name }}
                                                                | {{ object.admissibility.petitioner.prisonno }}.</strong>
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a type="button" class="btn btn-danger  mr-auto"
                                                           href="{% url 'petitionsummary_delete' object.id %}">Delete</a>
                                                        <button type="button" class="btn btn-secondary btn-success"
                                                                data-dismiss="modal">Cancel
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- /modals -->
                                        <div class="row">
                                            {% if perms.petitions.change_petitionsummary %}
                                                <div class="col-md-4"><a class="btn btn-warning btn-sm"
                                                                         href="{{ object.get_update_url }}">Edit this
                                                    Summary</a></div>
                                            {% else %}
                                                {% if object.added_by == user %}
                                                    {% if object.created|date:"Y-m-d" ==  today|date:"Y-m-d" %}
                                                        <div class="col-md-4"><a class="btn btn-warning btn-sm"
                                                                                 href="{{ object.get_update_url }}">Edit
                                                            this
                                                            Summary</a></div>
                                                        {% else %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                            {% if perms.petitions.delete_petitionsummary %}
                                                <div class="col-md-4">
                                                    <button type="button" class="btn btn-danger btn-sm"
                                                            data-toggle="modal"
                                                            data-target=".bs-example-modal-sm">Delete Summary
                                                    </button>
                                                </div>
                                            {% endif %}

                                            {% if perms.petitions.can_view_petitionsummary %}
                                                <div class="col-md-2"><a class="btn btn-info btn-sm"
                                                                         href="{% url 'petitionsummary_list' %}">Go to
                                                    Summaries</a></div>
                                            {% elif perms.petitions.can_view_mypetitionsummary %}
                                                <div class="col-md-2"><a class="btn btn-info btn-sm"
                                                                         href="{% url 'myinterviewsummary_list' %}">Go
                                                    to
                                                    My Summaries</a></div>
                                            {% endif %}
                                            {% if perms.petitions.can_print_petitionsummary %}
                                                <div class="col-md-2"><a class="btn btn-success btn-sm"
                                                                         href="{% url 'petitionsummary_print' object.id %}">Print</a>
                                                </div>
                                            {% endif %}
                                        </div>

                                        <table class="table">
                                            <tr>
                                                <td>Name</td>
                                                <td>{{ object.admissibility.petitioner.name }}</td>
                                            </tr>
                                            <tr>
                                                <td>Prison Number</td>
                                                <td>{{ object.admissibility.petitioner.prisonno }}</td>
                                            </tr>
                                            <tr>
                                                <td>Prison</td>
                                                <td>{{ object.admissibility.petitioner.prison }}</td>
                                            </tr>
                                            <tr>
                                                <td>Nationality</td>
                                                <td>{{ object.admissibility.petitioner.nationality }}</td>
                                            </tr>
                                            <tr>
                                                <td>Court Case No</td>
                                                <td>{{ object.admissibility.petitioner.courtcaseno }}</td>
                                            </tr>
                                            <tr>
                                                <td>Date of conviction</td>
                                                <td>{{ object.admissibility.petitioner.dateofconviction }}</td>
                                            </tr>
                                            <tr>
                                                <td>Date of Custody</td>
                                                <td>{{ object.admissibility.petitioner.dateofcustody }}</td>
                                            </tr>
                                            <tr>
                                            <tr>
                                                <td>Sentence</td>
                                                {% if object.admissibility.petitioner.convictedforlife == True %}
                                                    <td>LIFE IMPRISONMENT</td>
                                                {% else %}
                                                    <td>{{ object.admissibility.petitioner.sentence }} YEARS
                                                        IMPRISONMENT
                                                    </td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>Age at conviction
                                                <td>{{ object.admissibility.petitioner.ageatconviction }} YEARS</td>
                                            </tr>
                                            <tr>
                                                <td>Current Age
                                                <td>{{ today.year|sub:object.admissibility.petitioner.dateofconviction.year|add:object.admissibility.petitioner.ageatconviction }}
                                                    YEARS
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Period Spent in Custody</td>
                                                <td>{{ today.year|sub:object.admissibility.petitioner.dateofcustody.year }}
                                                    YEARS
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Age when offense was committed</td>
                                                <td>{{ object.admissibility.petitioner.agewhenoffensewascommited }}
                                                    YEARS
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Naxt of Kin</td>
                                                <td>{{ object.admissibility.petitioner.nextofkin }}</td>
                                            </tr>
                                            <tr>
                                                <td>Relation with next of kin</td>
                                                <td>{{ object.admissibility.petitioner.relationshipwithnextofkin }}</td>
                                            </tr>
                                            <tr>
                                                <td>Contact Person</td>
                                                <td>{{ object.admissibility.petitioner.contactperson }}</td>
                                            </tr>
                                            <tr>
                                                <td>Tel No. of contact person</td>
                                                <td>{{ object.admissibility.petitioner.telnoofcontactperson }}</td>
                                            </tr>
                                            <tr>
                                                <td>Home County</td>
                                                <td>{{ object.admissibility.petitioner.county }}</td>
                                            </tr>
                                            <tr>
                                                <td>Home Subcounty</td>
                                                <td>{{ object.admissibility.petitioner.subcounty }}</td>
                                            </tr>
                                            <tr>
                                                <td>location</td>
                                                <td>{{ object.admissibility.petitioner.location }}</td>
                                            </tr>
                                            <tr>
                                                <td>Nearest School</td>
                                                <td>{{ object.admissibility.petitioner.nearestschool }}</td>
                                            </tr>
                                            <tr>
                                                <td>Name of Home Chief</td>
                                                <td>{{ object.admissibility.petitioner.homechief }}</td>
                                            </tr>
                                            <tr>
                                                <td>Where the offense was committed</td>
                                                <td>{{ object.admissibility.petitioner.whereoffensewascommitted }}</td>
                                            </tr>
                                            <tr>
                                                <td>Relief Sought</td>
                                                <td>{{ object.admissibility.petitioner.reliefsought }}</td>
                                            </tr>
                                            <tr>
                                                <td>Offence</td>
                                                <td>{{ object.admissibility.petitioner.offence }}</td>
                                            </tr>
                                            <tr>
                                                <td>The nature, particulars and circumstances surrounding the commission
                                                    of the offence
                                                </td>
                                                <td>{{ object.admissibility.petitioner.natureandparticularsofoffense }}</td>
                                            </tr>
                                            <tr>
                                                <td>Were you charged alone fro the offense?</td>
                                                {% if object.admissibility.petitioner.chargedalonefortheoffense == True %}
                                                    <td>Yes</td>
                                                {% else %}
                                                    <td>No</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>Names of Co-Accused</td>
                                                <td>{{ object.admissibility.petitioner.namesofcoaccused }}</td>
                                            </tr>
                                            <tr>
                                                <td>Do you the victim of the offense for which you were charged?</td>
                                                {% if object.admissibility.petitioner.knowledgeofthevictim == True %}
                                                    <td>Yes</td>
                                                {% else %}
                                                    <td>No</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>Name of the Victim</td>
                                                <td>{{ object.admissibility.petitioner.nameofvictim }}</td>
                                            </tr>
                                            <tr>
                                                <td>Area of residence of the victim</td>
                                                <td>{{ object.admissibility.petitioner.areaofresidence }}</td>
                                            </tr>
                                            <tr>
                                                <td>Previous Convictions</td>
                                                <td>{{ object.admissibility.petitioner.previousconvictions }}</td>
                                            </tr>
                                            <tr>
                                                <td>Has the admissibility.petitioner made any previous petition?</td>
                                                {% if object.admissibility.petitioner.previouspetition == True %}
                                                    <td>Yes</td>
                                                {% else %}
                                                    <td>No</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>Date of previous petition</td>
                                                <td>{{ object.admissibility.petitioner.dateofpreviouspetition }}</td>
                                            </tr>
                                            <tr>
                                                <td>Reason of denial of previous petition</td>
                                                <td>{{ object.admissibility.petitioner.reasonofdenialofpreviouspetition }}</td>
                                            </tr>
                                            <tr>
                                                <td>Reasons for current petitioning</td>
                                                <td>{{ object.admissibility.petitioner.reasonforcurrentpetition }}</td>
                                            </tr>
                                            <tr>
                                                <td>Have you had any disciplinary action taken against you while in
                                                    prison?
                                                </td>
                                                {% if object.admissibility.petitioner.anydisplinaryactioninprison == True %}
                                                    <td>Yes</td>
                                                {% else %}
                                                    <td>No</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>Details of disciplinary action in prison</td>
                                                <td>{{ object.admissibility.petitioner.detailsofdisplinaryactioninprison }}</td>
                                            </tr>
                                            <tr>
                                                <td>Any special condition e.g physical ability challenges, terminal
                                                    sickness, very sickly, mental health etc?
                                                </td>
                                                {% if object.admissibility.petitioner.anyspecialcondition == True %}
                                                    <td>Yes</td>
                                                {% else %}
                                                    <td>No</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>Details of special condition</td>
                                                <td>{{ object.admissibility.petitioner.detailsofspecialcondition }}</td>
                                            </tr>
                                            <tr>
                                                <td>Are you a trustee?</td>
                                                {% if object.admissibility.petitioner.areyouatrustee == True %}
                                                    <td>Yes</td>
                                                {% else %}
                                                    <td>No</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>Date of promotional to trustee</td>
                                                <td>{{ object.admissibility.petitioner.dateofpromotiontotrustee }}</td>
                                            </tr>
                                            <tr>
                                                <td>Are you recognized for special attributes, achievement or skills
                                                    attained in prison?
                                                </td>
                                                {% if object.admissibility.petitioner.anyspecialattributesorskills == True %}
                                                    <td>Yes</td>
                                                {% else %}
                                                    <td>No</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>Explanation of special attributes and skills</td>
                                                <td>{{ object.admissibility.petitioner.explanationofspecialattributesorskills }}</td>
                                            </tr>
                                            <tr>
                                                <td>Did you appeal against the conviction?</td>
                                                {% if object.admissibility.petitioner.appealedagainsttheconviction == True %}
                                                    <td>Yes</td>
                                                {% else %}
                                                    <td>No</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td>Appeal case Numbers</td>
                                                <td>{{ object.admissibility.petitioner.appealcaseno }}</td>
                                            </tr>
                                            <tr>
                                                <td>Appeal Outcome</td>
                                                <td>{{ object.admissibility.petitioner.appealoutcome }}</td>
                                            </tr>
                                            <tr>
                                                <td>Do you have any pending court matter even if not related to your
                                                    conviction?
                                                </td>
                                                {% if object.admissibility.petitioner.anypendingcourtmatter == True %}
                                                    <td>Yes</td>
                                                {% else %}
                                                    <td>No</td>
                                                {% endif %}

                                            </tr>
                                            <tr>
                                                <td>Explanation of pending court matter</td>
                                                <td>{{ object.admissibility.petitioner.explanationofpendingcourtmatter }}</td>
                                            </tr>
                                            <tr>
                                                <td>Petition Added by</td>
                                                <td>{{ object.admissibility.petitioner.added_by }}</td>
                                            </tr>
                                            <tr>
                                                <td>Petition Added On</td>
                                                <td>{{ object.admissibility.petitioner.created }}</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td class="text-right text-uppercase text-primary">Start of Summary
                                                    information
                                                </td>
                                                <td class="text-left text-uppercase text-primary"></td>
                                            </tr>

                                            <tr>
                                                <td>Type and circustances of the Offence</td>
                                                <td>{{ object.typeandcircumstancesofoffence }}</td>
                                            </tr>
                                            <tr>
                                                <td>Petition Overview</td>
                                                <td>{{ object.petitionoverview }}</td>
                                            </tr>
                                            <tr>
                                                <td>Summary Created By</td>
                                                <td>{{ object.added_by }}</td>
                                            </tr>
                                            <tr>
                                                <td>Summary Created On</td>
                                                <td>{{ object.created }}</td>
                                            </tr>
                                            <tr>
                                                <td>Summary Last Updated By</td>
                                                <td>{{ object.updated_by }}</td>
                                            </tr>
                                            <tr>
                                                <td>Summary Last Updated On</td>
                                                <td>{{ object.last_updated }}</td>
                                            </tr>
                                        </table>
                                        <div class="row">
                                            {% if perms.petitions.change_petitionsummary %}
                                                <div class="col-md-4"><a class="btn btn-warning btn-sm"
                                                                         href="{{ object.get_update_url }}">Edit this
                                                    Summary</a></div>
                                            {% else %}
                                                {% if object.added_by == user %}
                                                    {% if object.created|date:"Y-m-d" ==  today|date:"Y-m-d" %}
                                                        <div class="col-md-4"><a class="btn btn-warning btn-sm"
                                                                                 href="{{ object.get_update_url }}">Edit
                                                            this
                                                            Summary</a></div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                            {% if perms.petitions.delete_petitionsummary %}
                                                <div class="col-md-4">
                                                    <button type="button" class="btn btn-danger btn-sm"
                                                            data-toggle="modal"
                                                            data-target=".bs-example-modal-sm">Delete Summary
                                                    </button>
                                                </div>
                                            {% endif %}

                                            {% if perms.petitions.can_view_petitionsummary %}
                                                <div class="col-md-2"><a class="btn btn-info btn-sm"
                                                                         href="{% url 'petitionsummary_list' %}">Go to
                                                    Summaries</a></div>
                                            {% elif perms.petitions.can_view_mypetitionsummary %}
                                                <div class="col-md-2"><a class="btn btn-info btn-sm"
                                                                         href="{% url 'myinterviewsummary_list' %}">Go
                                                    to
                                                    My Summaries</a></div>
                                            {% endif %}
                                            {% if perms.petitions.can_print_petitionsummary %}
                                                <div class="col-md-2"><a class="btn btn-success btn-sm"
                                                                         href="{% url 'petitionsummary_print' object.id %}">Print</a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>
{% endblock javascripts %}
