{% extends "petitions/petition_form/petitionform_list.html" %}
{% block replacedatefilter%}
{%endblock%}
{% block title %} Petition {% endblock title %}
{% block petitiontableheading %}
    <h2>Skilled Petitioners List
        <small>| List of all petitioner with special skills</small>
    </h2>
{% endblock %}
{% block petitiontabledescription %}
    <p class="text-muted font-13 m-b-30">
        This table shows who have been recognized for their special attributes, achievements or skills attained in
        prison You can search using any
        criteria
    </p>
{% endblock %}
